* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

body {
  color: black;
  background-color: #ebc1c0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #72796c;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.number-generator-button {
  margin-top: 1rem;
  height: 3rem;
  background-color: white;
  color: black;
  border: none;
  text-transform: uppercase;
}

.number-generator-button:focus {
  outline: 0;
}

.number-generator-button:hover {
  background-color: black;
  color: white;
}
