html {
  height: 100%;
  font-family: 'Shadows Into Light';
}

body {
  font-family: sans-serif;
  color: #3c153b;
  background: linear-gradient();
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.number-generator-button {
  margin-top: 1rem;
  height: 3rem;
  background-color: #89bd9e;
  color: #3c153b;
  border-radius: 10px;
}

.number-generator-button:focus {
  outline: 0;
}

.number-generator-button:hover {
  background-color: #3c153b;
  color: #89bd9e;
}
